html {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

body{
  background-image:linear-gradient(red, transparent),
            linear-gradient(to top left, lime, transparent),
            linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;;
  background-repeat:no-repeat;
}

.enter-name input[type=name] {
  background-color: #F2F919;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: black;
  padding: 5px;
  position: fixed;
  left: 10px;
  bottom: 5px;
  height: 50px;
  width: 70%;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

.enter-name .btnn {
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
  position: fixed;
  right: 2px;
  bottom: 5px;
  height: 50px;
  width: 23%;
  display: inline-block;
  color: black;
  background-color: #ff0ec0;
  border-color: black;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  line-height: 36px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  animation-duration: 4s !important;
}

.enter-name input[type=name]::-webkit-input-placeholder {
  color: black;
  font-size: 18px;
}

.enter-name input[type=name]::-moz-placeholder {
  color: #eee;
  font-size: 18px;
}

.enter-name input[type=name]:focus::-webkit-input-placeholder {
  color: #c0392b;
}

.enter-name input[type=name]:focus::-moz-placeholder {
  color: #c0392b;
  font-size: 18px;
}


.m1 {
  position: fixed;
  left: 2%;
  width: auto;
  height: 100%;
  top: 1%;
  color: #000;
}

.m2 {
  position: fixed;
  right: 2%;
  width: auto;
  height: 100%;
  top: 1%;
  color: #000;
}

/* DEMO-SPECIFIC STYLES */
/* typing effect start */





/* typing effect end */
.footerbtn {
  display: block;
  line-height: 15px;
  right: -10px;
  bottom: 70px;
  height: 55px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
  background: #34af23;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 30px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
  animation: footer infinite linear 1s;
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
 

}



@keyframes footer {
  from {
    -webkit-transform: rotateZ(0)
  }

  25% {
    -webkit-transform: rotateZ(1.5deg)
  }

  50% {
    -webkit-transform: rotateZ(0deg)
  }

  75% {
    -webkit-transform: rotateZ(-1.5deg)
  }

  to {
    -webkit-transform: rotateZ(0)
  }
}


body {
  text-align: center;

}


.enter-name .btn {
  border-radius: 10px;
  font-size: 21px;
  padding: 4px;
  position: fixed;
  right: 2px;
  bottom: 5px;
  height: 50px;
  width: 23%;
  display: inline-block;
  color: black;
  background-color: #10E43A;
  border-color: black;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  line-height: 36px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  animation-duration: 4s !important;
}

.enter-name input[type=name]::-webkit-input-placeholder {
  color: black;
  font-size: 18px;
}

.enter-name input[type=name]::-moz-placeholder {
  color: #eee;
  font-size: 18px;
}

.enter-name input[type=name]:focus::-webkit-input-placeholder {
  color: #c0392b;
}


.clickHeart{
  position:absolute;
  color:yellow;
  font-size:50px;
  animation:zoomout 2s linear;
  z-index:50;
}

@keyframes zoomout{
  to{
    opacity:0;
    transform:scale(2,2);
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer {
  background: white;
  max-width: 450px;
  min-height: 200px;
  margin: 0 auto;
  text-align : center;
  padding: 15px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.14), 0 1px 14px 2px rgba(0,0,0,.12), 0 0 5px -3px rgba(0,0,0,.3);
}

.open-button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 2px;


}